<div class="desktop-nav">
    <pf-paragraph class="desktop-nav--brand">Porfolio</pf-paragraph>
    <pf-link>Home</pf-link>
    <pf-link>Frontend</pf-link>
    <pf-link>Backend</pf-link>
    <pf-link>Proyectos</pf-link>
    <pf-link>Formación</pf-link>
    <pf-link>Sobre Mi</pf-link>

    <div class="nav-link-container">
        <a href="" class="nav-link"><i class="bi bi-twitter-x"></i></a>
        <a href="" class="nav-link"><i class="bi bi-github"></i></a>
        <a href="" class="nav-link"><i class="bi bi-instagram"></i></a>
        <a href="" class="nav-link"><i class="bi bi-youtube"></i></a>
        
    </div>
</div>