<div class="desktop-nav">
    <div class="nav-brand">
        <pf-paragraph class="desktop-nav--brand">Santi B.</pf-paragraph>
    </div>
    <div class="nav-container">
        <pf-link link="/">Home</pf-link>
        <pf-link link="skills">Skills</pf-link>
        <pf-link link="education">Formación</pf-link>
        <pf-link link="projects">Proyectos</pf-link>
        <pf-link link="about">Sobre Mi</pf-link>
    </div>

    <div class="nav-link-container">

        <a href="" class="nav-link"><i class="bi bi-github"></i></a>
        <a href="" class="nav-link"><i class="bi bi-linkedin"></i></a>
        <a href="" class="nav-link"><i class="bi bi-envelope"></i></a>
        
        
        <!--
        <pf-icon icon="github"></pf-icon>
        <pf-icon icon="linkedin"></pf-icon>-->
    </div>

    <div class="nav-link-actions">

        <a href="" class="nav-link">En</a> 
        <a href="" class="nav-link">Es</a>
        <!--
        <a href="" class="nav-link">AI</a>-->
        
        
        <!--
        <pf-icon icon="github"></pf-icon>
        <pf-icon icon="linkedin"></pf-icon>-->
    </div>
</div>