<div class="desktop-nav">
    <pf-paragraph class="desktop-nav--brand">Porfolio</pf-paragraph>
    <pf-link class="nav-page">Home</pf-link>
    <pf-link class="nav-page">Frontend</pf-link>
    <pf-link class="nav-page">Backend</pf-link>
    <pf-link class="nav-page">Proyectos</pf-link>
    <pf-link class="nav-page">Formación</pf-link>
    <pf-link class="nav-page">Sobre Mi</pf-link>

    <div class="nav-link-container">
        <a href="" class="nav-link"><i class="bi bi-twitter-x"></i></a>
        <a href="" class="nav-link"><i class="bi bi-github"></i></a>
        <a href="" class="nav-link"><i class="bi bi-instagram"></i></a>
        <a href="" class="nav-link"><i class="bi bi-youtube"></i></a>
        
    </div>
</div>