<div class="page-container">
    <h2 class="flush-margin">About</h2>

    <div class="about">
        <div class="about__photo">
            <img src="assets/img/me.jpeg">
        </div>
        <div class="about__introduction">
            <p>
                Programo desde hace el 2021, tanto
            en la universidad trabajando en
            equipo, como en proyectos
            personales por mi cuenta. La
            universidad me dio el conocimiento
            básico de desarrollo de software,
            mientras que por mi parte lo llevé
            más lejos con libros, cursos y
            práctica.
            En mi tiempo libre me gusta leer, aprender idiomas, escuchar música y ejercitarme.
            </p>
        </div>
    
    </div>



</div>