$pf-white: snow;
$pf-bright-green: greenyellow;
$pf-black: #111;
$pf-pink: deeppink;
$pf-red: red;
$pf-black-transparent-md: rgba(0, 0, 0, 0.5);
$pf-black-transparent-hg: rgba(0, 0, 0, 0.9);
$pf-black-transparent-lw: rgba(0, 0, 0, 0.2);


