<div class="page-container">
    <h2 class="flush-margin">Universitaria</h2>

    <div class="degree">
        <div class="degree__title">
            <p>
                Tecnicatura universitaria en programación
            </p>
        </div>

        <div class="degree__place">
            <i class="bi bi-geo-alt-fill"></i>
            <p> Universidad Tecnologica Nacional FRMDP </p>
        </div>

        <div class="degree__time">
            <i class="bi bi-calendar"></i>
            <p> 03/2021 - 02/2024 (1980H)</p>
        </div>

        <div class="degree__status">
            <p> Graduado - 100%</p>
        </div>

        <div class="degree__detail">
            <p>
                Aprendí habilidades esenciales de
                desarrollo y diseño de software, el uso de
                estadística, matemática, y lógica para
                pensar problemas. Así como el trabajo en
                equipo en proyectos.
                Aprendí C, Java, desarrollo web en HTML,
                CSS, Javascript y Angular, NodeJs, MongoDB,
                Diseño y administración de Bases de Datos
                con MYSQL. Utilizacion de UML.
                Asi como metodologias de desarrollo de software como teoría de SCRUM, Jira, Casos de usos y analisis basico de requisitos funcionales.
            </p>
            
        </div>

        <div class="degree__attachment">
            <i class="bi bi-award-fill"></i>
            <p>Certificado</p>
        </div>
    </div>


</div>