<div class="page-container">
    <h2 class="flush-margin"> {{ "EDUCATION_PAGE__TITLE-1" | translate }}</h2>

    <div class="degree">
        <div class="degree__title">
            <p>
                {{ "EDUCATION_PAGE__DEGREE_1-TITLE" | translate }}
            </p>
        </div>

        <div class="degree__place">
            <i class="bi bi-geo-alt-fill"></i>
            <p> {{ "EDUCATION_PAGE__DEGREE_1-PLACE" | translate }} </p>
        </div>

        <div class="degree__time">
            <i class="bi bi-calendar"></i>
            <p> 03/2021 - 02/2024 (1980H)</p>
        </div>

        <div class="degree__status">
            <p> {{ "EDUCATION_PAGE__DEGREE_1-STATUS" | translate }} - 100%</p>
        </div>

        <div class="degree__detail">
            <p>
                {{ "EDUCATION_PAGE__DEGREE_1-DETAIL" | translate }}
            </p>
            
        </div>

        <a href="https://drive.google.com/file/d/14px-TnQbl0qMxy1M2HaQjmHF1W49Psmr/view?usp=sharing" target="_blank">
            <div class="degree__attachment">
                <i class="bi bi-award-fill"></i>
                <p> {{ "EDUCATION_PAGE__DEGREE-BTN" | translate }}</p>
            </div>
        </a>
    </div>


</div>