<div class="page-container">
    <h2>Education</h2>
    <p>
        Tecnicatura universitaria en programación
    </p>
    <p> UTN MDP 03/2021 - 02/2024</p>
    <p>Aprendí habilidades esenciales de
        desarrollo y diseño de software, el uso de
        estadística, matemática, y lógica para
        pensar problemas. Así como el trabajo en
        equipo en proyectos.
        Aprendí C, Java, desarrollo web en HTML,
        CSS, Javascript y Angular, NodeJs, MongoDB,
        Diseño y administración de Bases de Datos
        con MYSQL. <br>Utilizacion de UML.
        <br>Asi como metodologias de desarrollo como teoría de SCRUM, Jira, Casos de usos y analisis basico de requisitos funcionales</p>
        <i class="bi bi-award-fill"></i>
</div>