@use '../../../../../assets/scss/variables' as v;

$black: v.$pf-black;
$white: v.$pf-white;

.mobile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white;
    background-color: $black;

    &--burger{
        width: fit-content;
        font-size: 2.2rem;
        padding: 2%
    }

    &--brand{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        font-size: 1.5rem;
    }

    &__sidebar{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: $black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.3s;

        &--cross{
            position: absolute;
            top: 3%;
            right: 6%;
            font-size: 1.8rem;
            color: white;
        }
    }

}

.expanded{
    width: 250px;
}