<div class="mobile-nav">
    <pf-paragraph class="mobile-nav--brand">Santi B.</pf-paragraph>
    <pf-icon icon="burger" (clicked)="onClicked()" class="mobile-nav--burger"></pf-icon>

    <div class="mobile-nav__sidebar" [style.width]="this.sideBarOpen ? '60%' : '0px'">
    
        <pf-icon icon="cross" (click)="onClicked()" class="mobile-nav__sidebar--cross"></pf-icon>
        <pf-link link="/" (click)="onClicked()">Home</pf-link>
        <pf-link link="skills" (click)="onClicked()">Skills</pf-link>
        <pf-link link="education" (click)="onClicked()">Formación</pf-link>
        <pf-link link="projects" (click)="onClicked()">Proyectos</pf-link>
        <pf-link link="about" (click)="onClicked()">Sobre Mi</pf-link>
    </div>
</div>
