@use '../../../../../assets/scss/variables' as v;

$black: v.$pf-black;
$white: v.$pf-white;

.mobile-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white;
    background: rgba(0, 0, 0, 0.8);

    &--burger{
        width: fit-content;
        font-size: 2.2rem;
        padding: 2%
    }

    &--brand{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        font-size: 1.5rem;
    }

    &__sidebar{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 1);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.3s;

        &--cross{
            position: absolute;
            top: 3%;
            right: 6%;
            font-size: 1.8rem;
            color: $white;
        }

        pf-link{
            display: flex;
            //margin: 5%;
            margin: 5px;
            justify-content: center;
            text-decoration: none;
            font-size: 1.1rem;
            color: $white;
            transition: 0.3s;
            text-shadow: 2px 1px 8px $white;        
        }
    }
}

.link-container{
    display: flex;
    
    padding: 1%;
    width: 50%;
    position: absolute;
    top: 3%;

    a{
        width: 7%;
        margin-left: 5px;
    }
}


@media (min-width: 350px)
{

    
}

@media(min-width: 463px)
{
    .mobile-nav{
        &__sidebar{
            pf-link{
                font-size: 1.2rem;
            }
        }
    }
}


@media (min-width: 576px) {
    .mobile-nav{
        &__sidebar{
            pf-link{
                font-size: 1.4rem;
            }
        }
    }
}


@media (min-width: 768px) { 

}


@media (min-width: 992px) 
{    

    
}


@media (min-width: 1200px) { 

 }