.link-container{
    display: flex;
}

a{
    text-align: center;
    color: snow;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}


a:hover{
    
    
    position: relative;
    bottom: 2px;
}

.active{
    
    transition: 0.5s;

    border-bottom: 3px solid deepskyblue;
}