.link-container{
    display: flex;
}

a{
    text-align: center;
    color: snow;
    transition: transform 0.1s ease-in-out 0s;
}


a:hover{
    transform: scale(1.1,1.1);
    
    position: relative;
    bottom: 2px;
}

.active{
    border-bottom: 3px solid deepskyblue;
}