@use './../../../../assets/scss/variables' as v;

$black: v.$pf-black-transparent-hg;
$white: v.$pf-white;

footer{
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    color: $white;
    border-top: 1px solid $white;
}