<header>
    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3 class="sub-banner-txt__h"> {{ "SUB_BANNER__SKILLS-H" | translate }}</h3>
            <p class="sub-banner-txt__p">
                {{ "SUB_BANNER__SKILLS-P" | translate }}
            </p>
            
            <button class="sub-banner-btn" (click)="goToSkills()">
                {{ "SUB_BANNER__SKILLS-BTN" | translate }}
            </button>
        </div>

        <div class="sub-banner-btn-container">
            <button class="sub-banner-btn" (click)="goToSkills()">{{ "SUB_BANNER__SKILLS-BTN" | translate }}</button>
        </div>
        
        <div class="sub-banner-img">
            <img src="assets/img/2.gif" alt="working gears">
        </div>

        <div class="tech-container">
            <img src="assets/img/angular-original.svg" alt="angular svg"/>
            <img src="assets/img/react-original.svg" alt="react svg"/>
            <img src="assets/img/html5-original.svg" alt="html5 svg"/>
            <img src="assets/img/css3-original.svg" alt="css3 svg">
            <img src="assets/img/typescript-original.svg" alt="typescript svg">
            <img src="assets/img/javascript-original.svg" alt="javascript svg">  
            <img src="assets/img/rxjs-original.svg" alt="rxjs svg">  
            <img src="assets/img/csharp-original.svg" alt="csharp svg">  
            <img src="assets/img/nodejs-original-wordmark.svg" alt="nodejs svg">  
            <img src="assets/img/python-original.svg" alt="python svg">  
            <img src="assets/img/java-original.svg" alt="java svg">  
            <img src="assets/img/mysql-original.svg" alt="mysql svg">  
            <img src="assets/img/mongodb-original-wordmark.svg" alt="mongo svg">  
            <img src="assets/img/git-original.svg" alt="git svg">  
        </div>
    </div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>{{ "SUB_BANNER__EDUCATION-H" | translate }}</h3>
            <p class="sub-banner-txt__p">
                {{ "SUB_BANNER__EDUCATION-P" | translate }}
            </p>

            <button class="sub-banner-btn" (click)="goToEducation()">
                {{ "SUB_BANNER__EDUCATION-BTN" | translate }}
            </button>
        </div>

        <div class="sub-banner-btn-container">
            <button class="sub-banner-btn" (click)="goToEducation()">
                {{ "SUB_BANNER__EDUCATION-BTN" | translate }}
            </button>
        </div>
        
        <div class="sub-banner-img">
            <img src="assets/img/3.gif" alt="research lens">
        </div>
    </div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>{{ "SUB_BANNER__PROJECTS-H" | translate }}</h3>
            <p class="sub-banner-txt__p">
                {{ "SUB_BANNER__PROJECTS-P" | translate }}
            </p>
            
            <button class="sub-banner-btn" (click)="goToProjects()">
                {{ "SUB_BANNER__PROJECTS-BTN" | translate }}
            </button>
        </div>

        <div class="sub-banner-btn-container">
            <button class="sub-banner-btn" (click)="goToProjects()">
                {{ "SUB_BANNER__PROJECTS-BTN" | translate }}
            </button>
        </div>

        <div class="sub-banner-img">
            <img src="assets/img/4.gif" alt="data flow">
        </div>
    </div>
</header>