<header>
    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3 class="sub-banner-txt__h">Desarrollo de soluciones tecnológicas</h3>
            <p class="sub-banner-txt__p">
                Me considero un apasionado al desarrollo de soluciones tecnológicas que generen valor al cliente o empresa, y que sean performantes, eficientes, escalables y mantenibles.
                Asimismo me adapto a los requisitos del cliente y el grupo.
            </p>
            
            <div class="sub-banner-tech">
                <p>backend</p>
            </div>
            
        </div>
        
        <div class="sub-banner-img">
            <img src="assets/img/2.gif" alt="">
        </div>

      
    </div>

    <div class="tech-container">
        <img src="assets/img/angular-original.svg" />
        <img src="assets/img/react-original.svg" />
        <img src="assets/img/html5-original.svg" />
        <img src="assets/img/css3-original.svg">
        <img src="assets/img/typescript-original.svg">
        <img src="assets/img/javascript-original.svg">  
        <img src="assets/img/csharp-original.svg">  
        <img src="assets/img/nodejs-original-wordmark.svg">  
        <img src="assets/img/python-original.svg">  
        <img src="assets/img/java-original.svg">  
    </div>


    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>Resolución de problemas</h3>
            <p class="sub-banner-txt__p">
                La mayoría del tiempo los desarrolladores nos enfrentamos a desafios como errores o necesidad de mejoras en los productos.
                Mi compromiso es investigar las causas de los desafios y resolver problemas para llevar el producto al exito en la medida
                de mi competencia.
            </p>
            
        </div>
        
        <div class="sub-banner-img">
            <img src="assets/img/3.gif" alt="">
        </div>

        
    </div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>Constante mejora</h3>
            <p class="sub-banner-txt__p">
                Mi curiosidad me impulsa siempre a la investigación de nuevas tecnologías y constante mejora de conocimiento, lo cual considero
                de máxima importancia en este rubro tan dinámico. 
                Asimismo creo proyectos donde poner en practica todo lo nueque aprendo.
                
            </p>
            
            
            
        </div>

        <div class="sub-banner-img">
            <img src="assets/img/4.gif" alt="">
        </div>
    </div>
</header>