/*normalize*/
@import url('./assets/css/normalize.css');

/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@font-face {
    src: url('./assets/fonts/Numans-Regular.ttf');
    font-family: "main-font";
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("assets/img/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "main-font";
    color: snow;
}

main{
    min-height: fit-content;
}

a{
    color: snow;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: snow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: snow;
}

.error{
    margin: 0;
    outline: 1px solid white;
    color: red;
}

.page-container{
    background: rgba(0, 0, 0, .8);
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    min-height: 100vh;
}

.page-container > h2{
    text-align: start;
    //font-size: 2rem;
    
    font-size: .8rem;
    //margin-bottom: 50px;
    text-shadow: 2px 1px 8px white;
    font-weight: 900;
    //letter-spacing: 10px;
}

.flush-margin{
    margin: 3%;
    margin-bottom: 2%;
    text-align: start;
}

.container{
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */

@media (min-width: 350px)
{
    .page-container > h2{
        
        font-size: 1.3rem;
        
    }
}


@media (min-width: 576px) {  

}


@media (min-width: 768px) { 
    /*
    .form-container{
        padding-top: 5%;
    }*/


 }


@media (min-width: 992px) 
{     
    body{
        font-size: 1.6rem;
    }

    .page-container > h2{
        
        font-size: 2rem;
        
    }

}


@media (min-width: 1200px) { 
    /*
    .form-container{
        padding-top: 8%;
    }*/

    .page-container{
        padding-top: 5%;
    }
   

    .desktop-nav{
        display: flex;
        width: 100%;
    }


    .nav-link-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1%;
    }

    .mobile-nav{
        display: none;
    }
    

    nav{
        position: fixed;
    }

    .nav-brand{
        padding: 1%;
        font-size: 1.7rem;
    }

 }


@media (min-width: 1400px) {  
    
}