<div class="page-container">
    <h2>skills</h2>
    <p>Technical</p>
    <br><br>
    <p>Programacion orientada  a objetos</p>
    <img src="assets/img/java1.png" alt="">
    <img src="assets/img/csharp.png" alt="">
    <img src="assets/img/py1.png" alt="">
    <img src="assets/img/js2.png" alt="">
    <img src="assets/img/typescript.png" alt="">

    <p>Backend</p>
    <img src="assets/img/java1.png" alt="">
    <img src="assets/img/csharp.png" alt="">
    <img src="assets/img/py1.png" alt="">
    <img src="assets/img/nodejs.png" alt="">
    

    <p>Frontend</p>
    <img src="assets/img/html.png" alt="">
    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />
          
    <img src="assets/img/css2.png" alt="">
    <!--<img src="assets/img/angular.png" alt="">-->
    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
          
    <img src="assets/img/react.png" alt="">
    <img src="assets/img/rxjs.png" alt="">
    <img src="assets/img/typescript.png" alt="">
    

    <p>Bases de datos</p>
    <img src="assets/img/mysql.png" alt="">
    <img src="assets/img/mongodb.png" alt="">

    <p>ORM</p>

    <!--
    <p>Cloud</p>

    <p>AI</p>-->

    <p>Soft</p>
    <br><br>
    <p>Scrum</p>
    <p>Trabajo en equipo</p>
    <p>Resolucion de problemas</p>
    <p>Autodidacta</p>
</div>
