<div class="page-container">

    <h2 class="flush-margin">{{ "SKILLS_PAGE__TITLE-1" | translate }}</h2>
 
    <div class="tech-container">

        <div class="tech-container__tech">
            <p>C#</p>
            <img src="assets/img/csharp-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>Python</p>
            <img src="assets/img/python-original.svg"> 
        </div>

        <div class="tech-container__tech">
            <p>Java</p>
            <img src="assets/img/java-original.svg">  
        </div>

        <div class="tech-container__tech special">
            <p>TypeScript</p>
            <img src="assets/img/typescript-original.svg" class="special">
        </div>
        <div class="tech-container__tech special">
            <p>JavaScript</p>
            <img src="assets/img/javascript-original.svg" class="special">
        </div>
    </div>

    <div class="know-list">
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_1-1" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_1-2" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_1-3" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_1-4" | translate }}</p>
        </div>
    </div>


    <h2 class="flush-margin">{{ "SKILLS_PAGE__TITLE-2" | translate }}</h2>
    
    <div class="tech-container">

        <div class="tech-container__tech">
            <p>HTML5</p>
            <img src="assets/img/html5-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>CSS3</p>
            <img src="assets/img/css3-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>SASS</p>
            <img src="assets/img/sass-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>Angular</p>
            <img src="assets/img/angular-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>React</p>
            <img src="assets/img/react-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>RxJs</p>
            <img src="assets/img/rxjs-original.svg">
        </div>
    </div>

    <div class="know-list">
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_2-1" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_2-2" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_2-3" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_2-4" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_2-5" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_2-6" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_2-7" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_2-8" | translate }}</p>
        </div>
    </div>

   
    <h2 class="flush-margin">{{ "SKILLS_PAGE__TITLE-3" | translate }}</h2>
    <div class="tech-container">
        <div class="tech-container__tech">
            <p>ASP.NET Core</p>
            <img src="assets/img/dotnetcore-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>NodeJs</p>
            <img src="assets/img/nodejs-original-wordmark.svg">
        </div>
        <div class="tech-container__tech">
            <p>Django</p>
            <img src="assets/img/django-plain.svg">
        </div>
    </div>

    <div class="know-list">
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_3-1" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_3-2" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_3-3" | translate }}</p>
        </div>
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{ "SKILLS_PAGE__HAB_3-4" | translate }}</p>
        </div>
    </div>


    <h2 class="flush-margin">{{ "SKILLS_PAGE__TITLE-4" | translate }}</h2>
    <div class="tech-container">
        <div class="tech-container__tech">
            <p>MySQL</p>
            <img src="assets/img/mysql-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>MS SQL Server</p>
            <img src="assets/img/microsoftsqlserver-original.svg">
        </div>
        <div class="tech-container__tech">
            <p>MongoDB</p>
            <img src="assets/img/mongodb-original-wordmark.svg">
        </div>
    </div>

    <div class="know-list">
        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p>{{  "SKILLS_PAGE__HAB_4-1" | translate }}</p>
        </div>

        <div class="know-list__item">
            <i class="bi bi-check2-circle"></i>
            <p> {{ "SKILLS_PAGE__HAB_4-2" | translate }}</p>
        </div>
    </div>

    <h2 class="flush-margin"> {{ "SKILLS_PAGE__TITLE-5" | translate }}</h2>
    
    <div class="soft-list">
        <div class="soft-list__item">
            <i class="bi bi-people"></i>
            <p> {{ "SKILLS_PAGE__HAB_5-1" | translate }}</p>
        </div>

        <div class="soft-list__item">
            <i class="bi bi-star-fill"></i>
            <p> {{ "SKILLS_PAGE__HAB_5-2" | translate }}</p>
        </div>

        <div class="soft-list__item">
            <i class="bi bi-book"></i>
            <p> {{ "SKILLS_PAGE__HAB_5-3" | translate }}</p>
        </div>
    </div>

</div>
