<div class="page-container">
    <h2>skills</h2>
    <p>Technical</p>
    <br><br>
    <p>Programacion orientada  a objetos</p>

    <p>Backend</p>
    <i class="bi bi-star-fill"></i>Java
    <i class="bi bi-star-fill"></i>C#
    <i class="bi bi-star-fill"></i>Python
    <i class="bi bi-star-fill"></i>JavaScript

    <p>Frontend</p>

    <p>Bases de datos</p>

    <p>Cloud</p>

    <p>AI</p>

    <p>Soft</p>
    <br><br>
    <p>Scrum</p>
    <p>Trabajo en equipo</p>
    <p>Resolucion de problemas</p>
    <p>Autodidacta</p>
</div>
